node_modules/
.pnpm-store/
out/
include/
build/
libraries/*/out/
libraries/*/*.tsbuildinfo
src/shared/InternalLibraries/

Packages/*
!Packages/.gitkeep
ServerPackages/*
!ServerPackages/.gitkeep

*.rbxlx
*.rbxl
*.rbxm
